



.colunaLabel{
    width: 120px;
}

.colunaResponsiva{
    width: auto;

}

.colunaCampoFixo{

}


.campoResponsivo{
    width:   98%!important;

}

.seletorResponsivo{
    width:   80%!important;
}

.tabelaFormulario{
    width:   100%!important;
}

.Container20.Responsive
{
    padding: 2%;
}


.Container30.Responsive
{
    padding: 1%;
}


.invisivel{

    display: none;
}
